extends layout

block content
 h1(id='pageTitle') #{title}
 script(src="./javascripts/gameXAjax.js")
 script(src="./javascripts/jquery-2.1.1.min.js")
 script(src="./javascripts/layout.js")
 div(id='diceTrack')
  |Dice Rolled
  div
   p(id="turn") Player1
  div(id="coins")
   button(id="c1" onclick="moveCoin(id)") c1
   button(id="c2" onclick="moveCoin(id)") c2
   button(id="c3" onclick="moveCoin(id)") c3
   button(id="c4" onclick="moveCoin(id)") c4
   button(id="c5" onclick="moveCoin(id)") c5
   button(id="c6" onclick="moveCoin(id)") c6
  div(id="diceStack")
   |Dice Stack
   table(id="diceTable")
  button(id="TD" onclick="throwDice()") THROW DICE 
 div(id='board')
 div(id='playersTrack')
  div(id='info@player1')
   |Player 1
   div(id="board@player1") On Bord 0/6:  
   div(id="home@player1") At Home 0/6:
  hr
  div(id='info@player2')
   |Player 2
   div(id="board@player2") On Bord 0/6:   
   div(id="home@player2") At Home 0/6:
  script.
   setupSVG();
 //- each zoneId in Game.safeZones
 //-  script.
 //-   console.log(#{Game.safeZones});
 //-   var zone=this.document.getElementById(#{zoneId});
 //-   zone.setAttribute('style','background-image: url(./images/safe.png);');
