extends layout

block content
 h1(id='pageTitle') #{title}
 div
  div(id='diceTrack')
   |dice rolled
  div(id='board')
  div(id='playersTrack')
   |who is playing
  script.
   var board=this.document.getElementById('board');
   for(id=1;id<50;id++){
    var div=this.document.createElement('div');
    div.setAttribute('id',id);
    div.setAttribute('class','cell');
    board.appendChild(div);
   }