body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.cell{
	display: inline-block;
	border: 1px solid black;
	height: 100px;
	width: 100px;  
}

#pageTitle {
	text-align: center;
	margin: 0px;
}

#board {
	display: inline-block;
	float: right;
	text-align: center;
	width: 60%;
	height: 730px;
	border: 2px solid grey;
}

#diceTrack {
	font-size: 30px;
	display: inline-block;
	float: right;
	width: 18%;
	height: 730px;
	border: 2px solid grey;
}
#playersTrack {
	font-size: 30px;
	display: inline-block;
	float: right;
	width: 18%;
	height: 730px;
	border: 2px solid grey;
}